.blog {
    .post {
        img {
            max-width: 100% !important;
            height: inherit;
        }

        background-color: rgba(0, 0, 0, 0.3);

        .picture {
            img {
                width: 100%;
                object-fit: cover;
                height: 400px;
            }
        }
    }


}
