@import 'root';
@import "fontface";
@import "home";
@import "signup";
@import "portfolio";
@import "about";
@import "blog";
@import "loading";
@import "public";





.contact {
    .email{
        margin-left: 8rem!important;
    }
    .container-fluid{
        svg {
            fill: $orange;
            width: 60px;
            height: 60px;
    
            margin: auto;
            display: block;
        }
    }
 
    .contact-items{
        a{
            color:$orange!important;
        }
    }
    #map {
        width: 100%;
        position: static;
        top:0;
        height: 50vh;
        background: rgb(3, 3, 3);
    }
 
}

@media(min-width:992px) {
    .contact {
        .email{
            margin-left: 8rem!important;
        }
        .container-fluid{
            svg {
                fill: $orange;
                width: 60px;
                height: 60px;
        
                margin: auto;
                display: block;
            }
        }
        .contact-items{
            position: static;
            bottom: 0;
            margin-top: 20vh;
            
        }
        #map {
            width: 100%;
            position:fixed;
            top:0;
            height: 100vh;
            background: rgb(3, 3, 3);
        }
     
    }
    
}